@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

body {
    font-family: 'Tajawal', sans-serif;
}

h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li a {
    flex: auto;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
}