@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    background-color: #ffebcc;
    color: #33001a;
}

h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #e60000;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    height: 3em;
    flex-wrap: wrap;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

nav ul li a {
    color: #33001a;
    font-size: larger;
}

nav ul li:hover {
    background-color: #f33;
}

nav ul li a:hover {
    color: antiquewhite;
}

a {
    text-decoration: none;
}

.conteudo {
    background-color: antiquewhite;
}

.receita img {
    max-width: 40%;
    align-self: center;
}

.receita {
    display: flex;
    flex-flow: column wrap;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px solid #ffc299;
    font-size: larger;
}

.titulo-receita {
    align-self: center;
}

.container-receitas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.link-receita {
    display: flex;
    flex-flow: column wrap;
    max-width: 22%;
}

.link-receita img {
    width: 100%;
    border-radius: 50%;
}

.link-receita a {
    color: #33001a;
    align-self: center;
}

.link-receita img:hover {
    width: 110%;
}

footer {
    text-align: center;
    margin-top: 5em;
}