@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

body {
    font-family: 'Tajawal', sans-serif;
    background-color: #ffebcc;
    color: #33001a;
}

h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #e60000;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    height: 3em;
    flex-wrap: wrap;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

li a {
    color: #33001a;
    font-size: larger;
}

li:hover {
    background-color: #f33;
}

li a:hover {
    color: antiquewhite;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
}